@import '../node_modules/water.css/out/dark.css';

hr {
    background-color: rgba(255, 255, 255, 0.25);
}

nav {
    outline: 1px solid rgba(255, 255, 255, 0.25);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.project-card {
    outline: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    padding-top: 5px; 
    padding-bottom: 5px;
    padding-left: 5px; 
    padding-right: 5px;
    margin-bottom: 10px;
}