@import '../node_modules/water.css/out/dark.css';

* {
    padding: 0;
    margin: 0;
    color: #dfd4c7;
    /* outline: 1px solid #FF0000; */
}

a {
    cursor: pointer;
    color: #dfd4c7;
}

h1, h2, h3, h4 {
    color: #dfd4c7;
}

header {
    outline: 1px solid #dfd4c7;
    margin-bottom: 25px;
    user-select: none;
}

header h1, 
header h2 {
    margin-left: 10px;
}

nav {
    border-top: 1px solid #dfd4c7;
    font-weight: bold;
}

nav ul {
    display: flex; 
    justify-content: left;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 10px 10px 10px 10px;
    display: block;
}

nav ul li a:hover { 
    text-decoration: none;
    background-color:#dfd4c7;
    color: #202B38;
}

.project-card {
    outline: 1px solid #dfd4c7;
    padding: 0px 5px 5px 5px;
    margin-bottom: 15;
}

.project-card p {
    margin-bottom: 5px;
}

.blogs-list {
    margin: 0px 0px 0px 25px;
    list-style-type: '=>';
}

.blogs-list li {
    padding: 0px 0px 5px 10px;
}

.blogs-list li a:hover { 
    text-decoration: underline;
}

.link-btn { 
    background: transparent; 
    padding: 0
}

.link-btn:hover { 
    background: transparent; 
    padding: 0
}